@media (min-width: 761px) and (max-width: 990px) {
  header {
    height: 70px;
  }

  .logo {
    height: 60px;
    width: 60px;
  }

  .navbar-list {
    width: 40%;
  }

  .fa-bars {
    font-size: 1.8rem;
  }

  .hero__title h1 {
    font-size: 60px;
  }

  .hero__title h2 {
    font-size: 50px;
  }

  .hero__mains {
    gap: 2rem;
  }

  .hero__mains span {
    font-size: 1.2rem;
  }

  .about__mainstays-content {
    max-width: 200px;
    display: grid;
    grid-template-rows: 90px 100px;
    text-align: center;
    align-items: flex-start;
    justify-items: center;
  }
  .creativity_icon {
    order: -1;
  }

  .contact-container {
    width: 100%;
    max-width: 80%;
    display: grid;
    grid-template-areas:
      "form social"
      "form where"
      "form where";
    grid-template-columns: 50% 40%;
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
  }
  .contact-us {
    grid-area: form;
    max-width: 100%;
    min-width: 300px;
    padding: 1rem;
    border-radius: 25px;
    height: 100%;
  }

  .contact-us__form {
    width: 100%;
    font-size: 1rem;
  }

  #name,
  #age,
  #phone,
  #email {
    height: 1.5rem;
    padding: 0.5rem;
  }

  #checkbox {
    width: 100%;
    grid-template-columns: 30px 250px;
    row-gap: 1rem;
  }

  .contact-us button {
    margin-top: 0.5rem;
    margin-left: 0;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  .contact-us-social {
    grid-area: social;
    gap: 2rem;
    height: 100%;
  }

  .contact__social-icons i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--grama);
  }

  .contact__us-where {
    grid-area: where;
    gap: 1.5rem;
    height: 100%;
  }
}

@media (min-width: 990px) {
  html {
    scroll-padding-top: 65px;
  }

  header {
    height: 75px;
    padding: 0 2rem;
  }

  .logo {
    order: -1;
    position: static;
    height: 60px;
    width: 60px;
  }

  .logo:hover {
    cursor: pointer;
    box-shadow: 0 0 8px var(--miel);
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-list {
    height: 75px;
    list-style: none;
    background: var(--grama);
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    justify-content: space-around;
    padding: 0;
  }

  .navbar-list a {
    font-size: 1.2rem;
    background: var(--grama);
    color: var(--unicorn);
    width: 200px;
    text-align: center;
  }

  .navbar-list a:hover {
    transform: scale(1.1);
  }

  .navbar i {
    display: none;
  }

  .navbar__list-usr {
    display: none;
  }

  .navbar__list-contact {
    border-top: none;
    padding-top: 0;
    gap: 0;
  }

  .users-login {
    background: var(--unicorn);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 1px var(--noche);
  }

  .users-login i {
    font-size: 1.2rem;
  }

  .hero__title h1 {
    font-size: 80px;
  }

  .hero__title h1 span {
    font-size: 120px;
  }

  .hero__title h2 {
    font-size: 70px;
  }

  .hero__title img {
    height: 250px;
  }

  .hero__mains {
    gap: 2rem;
    width: 500px;
  }

  .hero__mains span {
    font-size: 1.5rem;
  }

  .hero__mains img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .about__container {
    max-width: 1200px;
    gap: 2.5rem;
    font-size: 1.2rem;
  }

  .about__us h2 {
    margin-bottom: 2rem;
  }

  .about__mainstays {
    gap: 2rem;
  }

  .about__mainstays-content {
    max-width: 300px;
    display: grid;
    grid-template-rows: 90px 100px;
    text-align: center;
    align-items: flex-start;
    justify-items: center;
  }

  .creativity_icon {
    order: -1;
  }

  .about__mainstays-img {
    height: 100px;
    width: 100px;
  }

  .about__mainstays-txt {
    min-height: 120px;
    margin: auto;
    font-size: 1rem;
    text-align: center;
  }

  .about__decoration {
    gap: 5rem;
  }

  .about__decoration img {
    height: 3rem;
  }

  .about__decoration img:nth-child(2) {
    height: 5rem;
  }

  #programas {
    gap: 2.5rem;
    border-top: dashed 5px var(--miel);
  }

  .cards__title {
    gap: 2.5rem;
    max-width: 1200px;
    font-size: 1.2rem;
  }

  .cards__container {
    max-width: 80%;
    gap: 3rem;
    margin-bottom: 1.5rem;
  }

  .card__content {
    width: 300px;
    max-width: 300px;
    grid-template-rows: 200px 150px;
    animation-range: entry 1% cover 40%;
  }

  .card__content-text h3 {
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .card__content-text p {
    font-size: 1rem;
  }

  .card__btn {
    font-size: 1rem;
    bottom: -0.8rem;
    left: 100px;
    transition: 250ms;
  }

  .card__btn:hover {
    cursor: pointer;
    background-color: var(--noche);
    box-shadow: 0px 0px 3px var(--unicorn);
  }

  .btn-inscription {
    width: 200px;
    padding: 1rem;
  }

  .btn-info {
    width: 200px;
    padding: 1rem;
    font-size: 1rem;
  }

  .btn-info:hover {
    background: #99630c;
    cursor: pointer;
  }

  #community {
    gap: 2.5rem;
  }

  .community__title {
    max-width: 1200px;
    gap: 2.5rem;
  }

  .community__title p {
    font-size: 1.2rem;
  }

  .community__content {
    width: 80%;
  }

  .community__content-imgs {
    width: 800px;
    height: 500px;
    position: relative;
    left: -5%;
    padding: 1rem;
  }

  .community__content-filo {
    font-size: 1.2rem;
    width: 300px;
    height: 350px;
    position: absolute;
    right: -20%;
    top: 75px;
    gap: 1rem;
    border-radius: 25px;
    box-shadow: 2px 0 5px var(--noche);
  }

  .community__content-filo h3 {
    font-size: 2rem;
  }

  #contact {
    gap: 1.5rem;
    padding: 3rem 1rem;
  }

  .contact__title {
    gap: 2rem;
  }

  .contact__title p {
    font-size: 1.5rem;
  }

  #contact h3 {
    font-size: 1.5rem;
  }

  .contact-container {
    max-width: 1200px;
    min-width: 980px;
    display: grid;
    grid-template-areas:
      "form social"
      "form where"
      "form where";
    grid-template-columns: 50% 40%;
    grid-template-rows: repeat(3, 260px);
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
  }

  .contact-us {
    grid-area: form;
    max-width: 100%;
    min-width: 450px;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-radius: 25px;
    height: 100%;
  }

  .contact-us__form {
    gap: 1rem;
    max-width: 800px;
    font-size: 1.2rem;
  }

  #name,
  #age,
  #phone,
  #email {
    height: 2rem;
    padding: 0.5rem;
  }

  #checkbox {
    grid-template-columns: 50px 200px;
    row-gap: 1rem;
  }

  #checkbox input {
    height: 1rem;
  }

  .contact-us__form span {
    font-size: 1.5rem;
  }

  .contact-us button {
    margin-left: 0;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
  }

  .contact-us-social {
    grid-area: social;
    gap: 2rem;
  }

  .contact-us-social p {
    font-size: 1.2rem;
  }

  .contact__social-icons {
    gap: 2rem;
    padding: 1rem;
  }

  .contact__social-icons i {
    font-size: 2.8rem;
  }

  .contact__social-icons i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--grama);
  }

  .contact__us-where {
    grid-area: where;
    gap: 2rem;
    height: 100%;
  }

  .contact__us-where p {
    font-size: 1.3rem;
  }

  .contact__us-where p i {
    margin-right: 1rem;
  }

  .contact__us-where iframe {
    height: 300px;
    width: 350px;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 -1px 5px var(--grama);
  }

  .foot-copy {
    font-size: 1rem;
    color: #bbbbbd;
  }

  .foot-social {
    gap: 3rem;
    font-size: 1.5rem;
  }

  .foot-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
  }

  .foot-contact h4 {
    font-size: 1rem;
  }

  .foot-contact i {
    font-size: 0.8rem;
    margin-right: 0.3rem;
  }

  .foot-social i:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: var(--unicorn);
  }
}
