@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Macondo&family=Major+Mono+Display&family=MonteCarlo&display=swap");

:root {
  --miel: #edae49;
  --arcilla: #8f0f20;
  --grama: #007c8c;
  --noche: #003d5b;
  --unicorn: #f3f3ff;
  --title-font: "Major Mono Display", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 55px;
}

body {
  font-family: calibri, monospace;
  background-color: var(--unicorn);
}

h2 {
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
}

header {
  width: 100%;
  padding: 0 1rem;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--grama);
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 3px rgba(48, 47, 47, 0.63);
  top: 0;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url(./imgs/logoLC.png);
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 8px var(--noche);
}

#toggle-menu {
  display: none;
}

.fa-bars {
  font-size: 1.5rem;
  color: var(--noche);
}

.navbar-list i {
  display: block;
}

.navbar-list {
  list-style: none;
  background: var(--grama);
  width: 60%;
  height: calc (100vh - 60px);
  position: absolute;
  top: 60px;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  display: none;
}

.navbar-list a {
  font-size: 1rem;
  color: var(--unicorn);
}

.navbar-list a:hover {
  text-shadow: 0 0 2px #fff;
}

#toggle-menu:checked ~ .navbar-list {
  display: flex;
}

.navbar__list-usr,
.navbar__list-contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 60%;
}

.navbar__list-usr {
  border-bottom: 1px solid var(--noche);
  padding-bottom: 0.5rem;
}

.navbar__list-contact {
  border-top: 1px solid var(--noche);
  padding-top: 0.5rem;
}

.users-login {
  display: none;
}

#hero {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background-image: url(./imgs/fachada.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #cecece91;
  backdrop-filter: blur(3px);
  animation: blur 500ms both;
}

@keyframes blur {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0);
  }
}

.hero__container {
  width: 90%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  position: relative;
  text-align: center;
  margin: auto;
  animation: logo-hero 1s 250ms;
}

@keyframes logo-hero {
  from {
    opacity: 0;
    scale: 0%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.hero__container h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 45px;
  text-align: center;
  text-shadow: -2px 2px 6px var(--unicorn);
  color: var(--noche);
}

.hero__container h2 {
  font-family: "MonteCarlo", cursive;
  font-size: 40px;
  color: var(--unicorn);
  text-shadow: -1px 1px 5px var(--noche);
}

.hero__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__logo img {
  border-radius: 50%;
  height: 120px;
  box-shadow: 0px 0px 8px var(--unicorn);
}

.hero__mains {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  max-width: 500px;
}

.hero__mains span {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.hero__mains img {
  height: 0.8rem;
}

#about {
  width: 100%;
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--miel);
}

#about span {
  font-weight: 600;
}

.about__container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  font-size: 1rem;
  text-align: center;
}

.about__us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about__us h2 {
  margin-bottom: 0.5rem;
}

.about__container p {
  max-width: 90%;
}

.mision {
  color: var(--grama);
}

.lacolombina {
  color: var(--arcilla);
}

.about__mainstays {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin: 2rem auto;
}

.about__mainstays-content {
  width: 95%;
  max-width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.about__mainstays-img {
  height: 90px;
  width: 90px;
  min-width: 90px;
  border-radius: 50%;
}

.community_icon {
  background-image: url(./imgs/comunidad.png);
  background-size: contain;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  animation: community-ani 15s 5s infinite;
}

.creativity_icon {
  background-image: url(./imgs/creatividad.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: creativity-ani 15s 5s infinite;
  order: 2;
}

.diversity_icon {
  background-image: url(./imgs/people.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: diversity-ani 15s 5s infinite;
}

@keyframes community-ani {
  25% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes creativity-ani {
  25% {
    transform: scale(1.1);
  }
  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: scale(0);
    transform: rotate(0);
  }
  100% {
    transform: scale(0);
    transform: rotate(0);
  }
}

@keyframes diversity-ani {
  30% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.about__mainstays-txt {
  font-size: 14px;
}

.about__mainstays-txt span {
  font-size: 1rem;
}

.community_span {
  color: var(--grama);
}

.creativity_span {
  color: var(--arcilla);
}

.diversity_span {
  color: var(--sueños);
}

.about__decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1rem;
}

.about__decoration img {
  height: 2rem;
}

.about__decoration img:nth-child(2) {
  height: 4rem;
}

#programas {
  padding: 1rem 1rem 2rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: var(--grama);
  border-top: dashed 3px var(--miel);
}

.cards__title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1rem;
  color: #fff;
}

.cards__container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.card__content {
  width: 260px;
  min-width: 260px;
  display: grid;
  grid-template-rows: 150px 130px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: -1px 2px 8px 3px var(--noche);
  background: var(--miel);
  position: relative;
  view-timeline-name: --cards;
  view-timeline-axis: block;
  animation-timeline: --cards;
  animation-name: show-cards;
  animation-range: entry 1% cover 25%;
  animation-fill-mode: both;
}

@keyframes show-cards {
  from {
    opacity: 0.25;
    scale: 90%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.card__content img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0 0 10px 10px;
}

.card__content-text h3 {
  font-family: "Major Mono Display", monospace;
  color: var(--unicorn);
  padding-top: 0.5rem;
}

.card__content-text p {
  font-size: 12px;
  padding: 0 10px;
  font-weight: 600;
}

.card__btn {
  border-radius: 30px;
  box-shadow: 0px 1px 3px 1px var(--noche);
  color: var(--unicorn);
  background-color: var(--grama);
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
  width: 100px;
  position: absolute;
  bottom: -0.8rem;
  left: calc(130px - 50px);
  transition: 250ms;
}

.card__btn:active {
  background-color: var(--noche);
}

.btn-info {
  width: 150px;
  min-width: 150px;
  height: 35px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  background: var(--miel);
  box-shadow: 0 0 5px var(--noche);
}

.btn-info a {
  text-decoration: none;
  color: #000;
}

.btn-info:active {
  background: #99630c;
}

#community {
  background-image: url(./imgs/comunidad_bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

#community::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f3f3ffe8;
  border-top: dashed 5px var(--grama);
}

.community__title {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.community__title p {
  font-size: 1rem;
}

.community__content {
  max-width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  position: relative;
}

.community__content-imgs {
  min-width: 280px;
  min-height: 200px;
  background-image: url(./imgs/community_1.jpg);
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 8px var(--noche);
  animation: change-bg 30s infinite;
  -webkit-animation: change-bg 30s infinite;
}

@keyframes change-bg {
  25% {
    background-image: url(./imgs/nos.jpg);
    background-size: cover;
  }

  50% {
    background-image: url(./imgs/clases_musica.jpg);
    background-size: cover;
  }

  75% {
    background-image: url(./imgs/animation2.jpg);
    background-size: cover;
  }

  100% {
    background-image: url(./imgs/community_1.jpg);
    background-size: cover;
  }
}

.community__content-filo {
  color: var(--unicorn);
  background: #003d5bc4;
  font-size: 1rem;
  max-width: 80%;
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 15px;
}

.community__content-filo h3 {
  font-size: 1.5rem;
}

#contact {
  width: 100%;
  padding: 1rem 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(to bottom, var(--grama), var(--noche));
}

.contact__title {
  margin: auto;
  color: var(--unicorn);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact__title p {
  font-size: 1rem;
  text-align: center;
}

#contact h3 {
  font-size: 1rem;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  color: var(--grama);
}

.contact-container {
  width: 100%;
  max-width: 625px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
  gap: 1.2rem;
}

.contact-us {
  width: 100%;
  max-width: 350px;
  height: 90%;
  padding: 1rem;
  background: var(--unicorn);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  view-timeline-name: --contact;
  view-timeline-axis: block;
  animation-timeline: --contact;
  animation-name: show-contact;
  animation-range: entry 2% cover 20%;
  animation-fill-mode: both;
}

@keyframes show-contact {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 1rem;
}

.contact-us__form div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#name,
#age,
#phone,
#email {
  height: 1.5rem;
  padding: 0.3rem;
}

#grupal,
#personal {
  width: 100%;
  display: inline;
}

#checkbox {
  display: grid;
  grid-template-columns: 40px 200px;
  align-items: center;
  row-gap: 0.5rem;
}

.textarea textarea {
  resize: none;
  border: none;
  border-radius: 10px;
}

.contact-us__form span {
  color: var(--arcilla);
  font-size: 1.1rem;
}

.contact-us form input {
  border: none;
  border-radius: 10px;
  outline: none;
}

.contact-us button {
  margin: auto;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, var(--noche), var(--grama));
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--unicorn);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--noche);
}

.contact-us button:hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--grama), var(--noche));
}

.contact-us-social {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--unicorn);
  border-radius: 15px;
  padding: 2rem 1rem;
  view-timeline-name: --contact;
  view-timeline-axis: block;
  animation-timeline: --contact;
  animation-name: show-contact;
  animation-range: entry 2% cover 20%;
  animation-fill-mode: both;
}

.contact-us-social p {
  font-size: 1rem;
  text-align: center;
}

.contact__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.contact__social-icons i {
  font-size: 2rem;
}

.contact__social-icons i:active {
  color: var(--grama);
}

.contact__us-where {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--unicorn);
  border-radius: 15px;
  padding: 2rem 1rem;
  view-timeline-name: --contact;
  view-timeline-axis: block;
  animation-timeline: --contact;
  animation-name: show-contact;
  animation-range: entry 2% cover 20%;
  animation-fill-mode: both;
}

.contact__us-where p {
  font-size: 1rem;
}

.contact__us-where p i {
  margin-right: 0.5rem;
  color: var(--arcilla);
}

.contact__us-where iframe {
  height: 150px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--noche);
}

footer {
  width: 100%;
  height: 80px;
  background: var(--noche);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  box-shadow: 0 -1px 5px var(--grama);
  color: #bbbbbd;
  padding: 0 1rem;
}

.foot-copy {
  font-size: 0.7rem;
  color: #828283;
}

.foot-social {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.foot-signed {
  display: none;
}

.foot-social i:active {
  color: var(--unicorn);
}
