@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Macondo&family=Major+Mono+Display&family=MonteCarlo&display=swap");

:root {
  --miel: #edae49;
  --arcilla: #d1495b;
  --grama: #00798c;
  --sueños: #0361ce;
  --noche: #003d5b;
  --reposo: #b67bef;
  --medio: #ceb3f6;
  --lilas: #c480e5;
  --unicorn: #f3f3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: calibri, monospace;
  background-color: var(--unicorn);
}

h2 {
  font-size: 1.5rem;
  font-family: "Major Mono Display", monospace;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--grama);
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 3px rgba(48, 47, 47, 0.63);
  top: 0;
}

header a {
  text-decoration: none;
}

header a:hover {
  transform: scale(1.1);
}

.logo {
  height: 60px;
  margin-left: 1rem;
}

.navbar-list {
  list-style: none;
  background: var(--grama);
  width: 100%;
  height: calc (100vh - 70px);
  position: absolute;
  top: 70px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  display: none;
  padding: 1rem;
}

.navbar-list a {
  font-size: 20px;
  background: var(--grama);
  color: var(--unicorn);
}

#toggle-menu {
  display: none;
}

.navbar i {
  font-size: 2rem;
  display: block;
  margin-right: 1rem;
}

#toggle-menu:checked ~ .navbar-list {
  display: flex;
}

h2 {
  font-family: "Major Mono Display", monospace;
  font-size: 1.5rem;
}

.hero {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  background-image: url(./imgs/fachada.jpg);
  background-size: cover;
  background-position: center;
}

.hero__bg {
  width: 100%;
  height: 100%;
  background: #00798cd2;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__title h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 50px;
  text-align: center;
  color: var(--unicorn);
}

.hero__title h2 {
  font-family: "MonteCarlo", cursive;
  font-size: 50px;
  color: #750111;
}

.hero p {
  width: 90%;
  padding: 0 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1rem;
}

.hero__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__btns div {
  margin: 0 0.5rem;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.2px solid black;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.8rem;
}

.btn-cursos {
  background: var(--unicorn);
}

.btn-info {
  background: var(--miel);
  font-weight: 600;
}

.hero__content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hero__content span {
  font-size: 1rem;
  font-weight: 800;
}

.hero__content img {
  height: 1rem;
}

/*.separador {
  width: 100%;
  height: 1rem;
  background-image: url(./imgs/abstract-background-6556364.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 4rem;
}*/

#nos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--miel);
  padding: 70px 1rem 2rem;
  border-top: dashed 5px var(--grama);
}

#nos span {
  font-weight: 800;
  font-size: 1.1rem;
}

.nos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.nos__about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.nos__about-us h2 {
  margin: auto;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mision {
  color: var(--grama);
}

.lacolombina {
  color: var(--arcilla);
}

.pilares-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pilares-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pilares__img {
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 8px var(--grama);
}

.comunidad-img {
  background-image: url(./imgs/comunidad.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.creatividad-img {
  background-image: url(./imgs/creatividad.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.diversidad-img {
  background-image: url(./imgs/people.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pilares__txt {
  text-align: left;
  font-size: 0.8rem;
  margin: auto;
}

.pilares__txt span {
  font-size: 1.1rem;
  font-weight: 600;
}

.community {
  color: var(--grama);
}

.creativity {
  color: var(--arcilla);
}

.diversity {
  color: var(--sueños);
}

.nos__filo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.nos__filo h3 {
  font-family: "Major Mono Display", monospace;
  font-size: 1.1rem;
}

#programas {
  padding: 70px 1rem 2rem;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--grama);
  border-top: dashed 5px var(--miel);
  border-bottom: dashed 5px var(--unicorn);
}

.cards h2 {
  color: var(--unicorn);
}

.cards-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card_content {
  max-width: 300px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 1px 8px 1px var(--noche);
  background: var(--miel);
  position: relative;
}

.card_content img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  position: relative;
  top: 0;
}

.card_content h3 {
  font-family: "Major Mono Display", monospace;
  color: var(--unicorn);
  padding-top: 1rem;
}

.card_content p {
  font-size: 1rem;
  padding: 0 10px;
  font-weight: 600;
}

.card_content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-bottom: 1.5rem;
  border-radius: 0 0 10px 10px;
}

.card__info {
  border-radius: 30px;
  box-shadow: 0 0 3px var(--noche);
  color: var(--unicorn);
  background-color: var(--grama);
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
  width: 70px;
  margin-bottom: 10px;
  position: absolute;
  bottom: -1.8rem;
}

.card__info:hover {
  background-color: var(--noche);
}

.comunidad {
  width: 100%;
  text-align: center;
  margin: 70px auto 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
