@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Macondo&family=Major+Mono+Display&family=MonteCarlo&display=swap");

:root {
  --miel: #edae49;
  --arcilla: #8f0f20;
  --grama: #007c8c;
  --sueños: #0361ce;
  --noche: #003d5b;
  --reposo: #b67bef;
  --medio: #ceb3f6;
  --lilas: #c480e5;
  --unicorn: #f3f3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: calibri, monospace;
  background-color: var(--unicorn);
}

h2 {
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--grama);
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 3px rgba(48, 47, 47, 0.63);
  top: 0;
}

header a {
  text-decoration: none;
}

.logo {
  height: 60px;
  margin-left: 1rem;
}

.navbar i {
  font-size: 2rem;
  display: none;
  margin-right: 1rem;
}

#toggle-menu {
  display: none;
}

.navbar-list {
  list-style: none;
  background: var(--grama);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 1rem;
}

.navbar-list a {
  font-size: 20px;
  background: var(--grama);
  color: var(--unicorn);
}

.navbar-list li {
  padding-bottom: 8px;
}

.navbar-list li:hover {
  transform: scale(1.1);
  border-bottom: 1px solid var(--unicorn);
}

.users {
  display: flex;
  gap: 1rem;
  margin-right: 1.5rem;
}

.users a {
  color: var(--unicorn);
}

.users a:hover {
  color: #fff;
}

#toggle-menu:checked ~ .navbar-list {
  display: flex;
}

#hero {
  width: 100%;
  height: 95vh;
  margin: 2.5rem auto 0;
  background-image: url(./imgs/fachada.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-rows: 60% 20% 20%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #cecece91;
  backdrop-filter: blur(3px);
}

.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.hero__title h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 75px;
  text-align: center;
  color: var(--noche);
}

.hero__title h1 span {
  font-size: 120px;
}

.hero__title h2 {
  font-family: "MonteCarlo", cursive;
  font-size: 70px;
  color: var(--unicorn);
  text-shadow: 1px 1px 3px var(--noche);
}

.hero__mainstays {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.hero__mainstays div {
  font-size: 1.5rem;
  font-weight: 800;
}

.hero__mainstays img {
  height: 1rem;
}

.btn-info {
  width: 180px;
  min-width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  background: var(--miel);
  transition: 250ms;
  box-shadow: 0 0 5px var(--noche);
  position: relative;
}

.btn-info:hover {
  background: #99630c;
  cursor: pointer;
}
.btn-info i {
  padding-right: 10px;
  font-weight: 600;
}

/*.separador {
  width: 100%;
  height: 1rem;
  background-image: url(./imgs/abstract-background-6556364.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 4rem;
}*/

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--miel);
  padding: 70px 1rem 2rem;
}

#about span {
  font-weight: 800;
  font-size: 1.3rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem 0;
  max-width: 1200px;
  font-size: 1.2rem;
  text-align: center;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-us h2 {
  margin: auto;
  margin-bottom: 1rem;
}

.mision {
  color: var(--grama);
}

.lacolombina {
  color: var(--arcilla);
}

.about-mainstays {
  margin: auto;
  display: grid;
  grid-template: 150px 100px / repeat(3, 300px);
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.about-mainstays__img {
  height: 120px;
  border-radius: 50%;
}

.community_icon {
  background-image: url(./imgs/comunidad.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.creativity_icon {
  background-image: url(./imgs/creatividad.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.diversity_icon {
  background-image: url(./imgs/people.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.community_icon:hover {
  transform: rotate(-360deg);
  transition: transform 2.5s;
}

.creativity_icon:hover {
  transform: scale(1.3, 1.3);
  transition: transform 1s;
}

.diversity_icon:hover {
  transform: rotate(360deg);
  transition: transform 2.5s;
}

.about-mainstays__txt {
  min-height: 120px;
  margin: auto;
  font-size: 1rem;
  text-align: center;
}

.about-mainstays__txt span {
  font-size: 1.3rem;
  font-weight: 600;
}

.community_span {
  color: var(--grama);
}

.creativity_span {
  color: var(--arcilla);
}

.diversity_span {
  color: var(--sueños);
}

.about__decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 1rem;
}

.about__decoration img {
  height: 3rem;
}

.about__decoration img:nth-child(2) {
  height: 5rem;
}

#programas {
  padding: 70px 1rem 2rem;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  background: var(--grama);
  border-top: dashed 5px var(--miel);
}

.cards__title {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 1200px;
  font-size: 1.2rem;
  color: #fff;
}

.cards-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}

.card_content {
  max-width: 300px;
  display: grid;
  grid-template-rows: 200px 150px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: -1px 2px 8px 3px var(--noche);
  background: var(--miel);
  position: relative;
  transition: 250ms;
}

.card_content img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.card_content h3 {
  font-family: "Major Mono Display", monospace;
  color: var(--unicorn);
  padding-top: 1rem;
}

.card_content p {
  font-size: 1rem;
  padding: 0 10px;
  font-weight: 600;
}

.card_content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-bottom: 1.5rem;
  border-radius: 0 0 10px 10px;
}

.card__btn {
  border-radius: 30px;
  box-shadow: 0px 1px 3px 1px var(--noche);
  color: var(--unicorn);
  background-color: var(--grama);
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
  width: 70px;
  position: absolute;
  bottom: -0.8rem;
  left: calc(150px - 35px);
  transition: 250ms;
}

.card__btn:hover {
  cursor: pointer;
  background-color: var(--noche);
}

.btn-inscription {
  width: max-content;
  padding: 1rem;
}

#community {
  background-image: url(./imgs/comunidad_bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 75px 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  position: relative;
}

#community::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f3f3ffe8;
  border-top: dashed 5px var(--grama);
}

.community__title {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
}

.community__title p {
  font-size: 1.2rem;
}

.community__content {
  width: 80%;
  height: max-content;
  display: flex;
  justify-content: center;
  position: relative;
}

.community__content-imgs {
  position: relative;
  left: -5%;
  width: 800px;
  height: 500px;
  background-image: url(./imgs/community_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 0 8px var(--noche);
}

.community__content-filo {
  color: var(--unicorn);
  background: var(--noche);
  font-size: 1.2rem;
  width: 300px;
  padding: 2rem 1rem;
  position: absolute;
  right: -20%;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 25px;
  box-shadow: 2px 0 5px var(--noche);
}

.community__content-filo h3 {
  font-size: 1.5rem;
}

#contact {
  width: 100%;
  padding: 75px 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--grama);
}

.contact__title {
  margin: auto;
  color: var(--unicorn);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact__title p {
  font-size: 1.5rem;
}

#contact h3 {
  font-size: 1.8rem;
  font-family: "Major Mono Display", monospace;
  color: var(--grama);
}

.contact-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
  margin: auto;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--unicorn);
  padding: 3rem;
  border-radius: 25px;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  max-width: 800px;
  font-size: 1.2rem;
}

.contact-us__form div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#name,
#age,
#phone,
#email {
  height: 2rem;
  padding: 0.5rem;
}

#grupal,
#personal {
  display: inline;
}

#checkbox {
  display: grid;
  grid-template-columns: 50px 200px;
  align-items: center;
  row-gap: 1rem;
}

#checkbox input {
  height: 1rem;
}

.textarea textarea {
  resize: none;
}

.contact-us__form span {
  color: var(--arcilla);
  font-size: 1.5rem;
}

.contact-us button {
  max-width: 120px;
  padding: 0.5rem 0;
  background: linear-gradient(to right, var(--noche), var(--grama));
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--unicorn);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--noche);
}

.contact-us button:hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--grama), var(--noche));
}

.social-location {
  justify-items: flex-start;
  gap: 5rem;
}

.contact-us-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-us-social p {
  font-size: 1.5rem;
}

.contact__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact__social-icons i {
  font-size: 2.8rem;
}

.contact__social-icons i:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--grama);
}

.contact__us-where {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact__us-where p {
  font-size: 1.5rem;
}

.contact__us-where p i {
  margin-right: 1rem;
  color: var(--arcilla);
}

.contact__us-where iframe {
  max-height: 400px;
  max-width: 350px;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--noche);
}

footer {
  width: 100%;
  height: 80px;
  background: var(--noche);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 -1px 5px var(--noche);
  color: #bbbbbd;
}

.foot-social {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}

.foot-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.foot-contact h4 {
  font-size: 1rem;
}

.foot-contact i {
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.foot-social i:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: var(--unicorn);
}
