@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Macondo&family=Major+Mono+Display&family=MonteCarlo&display=swap");

:root {
  --miel: #edae49;
  --arcilla: #8f0f20;
  --grama: #007c8c;
  --sueños: #0361ce;
  --noche: #003d5b;
  --reposo: #b67bef;
  --medio: #ceb3f6;
  --lilas: #c480e5;
  --unicorn: #f3f3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  font-family: calibri, monospace;
  background-color: var(--unicorn);
  max-width: 100%;
  min-width: 320px;
}

h2 {
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
}

header {
  max-width: 100%;
  min-width: 320px;
  padding: 0 1rem;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--grama);
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 3px rgba(48, 47, 47, 0.63);
  top: 0;
  animation: hero-blur 250ms both;
  -webkit-animation: hero-blur 1s both;
}

header a {
  text-decoration: none;
}

.logo {
  height: 40px;
}

#toggle-menu {
  display: none;
}

.navbar-list {
  list-style: none;
  background: var(--grama);
  width: 80%;
  height: calc (100vh - 60px);
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  padding-left: 30%;
}

.navbar i {
  font-size: 1.5rem;
  display: block;
  color: var(--noche);
}

.navbar-list a {
  font-size: 1rem;
  color: var(--unicorn);
}

.navbar-list li {
  width: 80%;
  padding: 0.5rem;
}

.navbar-list li:nth-child(6) {
  border-top: 1px solid var(--noche);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

.users a:active {
  color: #fff;
}

#toggle-menu:checked ~ .navbar-list {
  display: flex;
}

.navbar__users {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--noche);
}

.navbar-list li i {
  font-size: 1rem;
  font-weight: 600;
}

#hero {
  max-width: 100%;
  min-width: 320px;
  height: 100vh;
  padding-top: 60px;
  background-image: url(./imgs/fachada.jpg);
  background-size: cover;
  background-position: center;
}

.hero__container {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin: auto;
  background: #cecece91;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__title h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 2.7rem;
  text-align: center;
  color: var(--noche);
}

.hero__title h1 span {
  font-size: 3rem;
}

.hero__title h2 {
  font-family: "MonteCarlo", cursive;
  font-size: 2.5rem;
  color: var(--unicorn);
  text-shadow: 1px 1px 3px var(--noche);
}

.hero__mainstays {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hero__mainstays div {
  font-size: 0.9rem;
  font-weight: 600;
}

.hero__mainstays img {
  height: 0.5rem;
}

.btn-info {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  background: var(--miel);
  transition: 250ms;
  box-shadow: 0 0 5px var(--noche);
}

.btn-info:active {
  background: #99630c;
}
.btn-info i {
  padding-right: 10px;
  font-weight: 600;
}

#about {
  max-width: 100%;
  min-width: 320px;
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--miel);
}

#about span {
  font-weight: 600;
  font-size: 1.2rem;
}

.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
  font-size: 1rem;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-us h2 {
  margin: auto;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.mision {
  color: var(--grama);
}

.lacolombina {
  color: var(--arcilla);
}

.about-mainstays {
  width: 100%;
  display: grid;
  grid-template: repeat(3, 80px) / 70px 180px;
  justify-content: center;
  align-items: start;
  gap: 1.5rem 1rem;
}

.about-mainstays__img {
  height: 80px;
  border-radius: 50%;
}

.community_icon {
  background-image: url(./imgs/comunidad.png);
  background-size: contain;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  animation: mainstays-ani 15s 5s infinite;
}

.creativity_icon {
  background-image: url(./imgs/creatividad.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.diversity_icon {
  background-image: url(./imgs/people.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.creativity_icon:hover {
  transform: scale(1.3, 1.3);
  transition: transform 1s infinite;
}

@keyframes mainstays-ani {
  25% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.about-mainstays__txt {
  font-size: 0.8rem;
}

.about-mainstays__txt span {
  font-size: 1rem;
  font-weight: 600;
}

.community_span {
  color: var(--grama);
}

.creativity_span {
  color: var(--arcilla);
}

.diversity_span {
  color: var(--sueños);
}

.about__decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1rem;
}

.about__decoration img {
  height: 2rem;
}

.about__decoration img:nth-child(2) {
  height: 4rem;
}

#programas {
  padding: 1rem 1rem 2rem;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: var(--grama);
  border-top: dashed 3px var(--miel);
}

.cards__title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1rem;
  color: #fff;
}

.cards-container {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.card_content {
  max-width: 260px;
  display: grid;
  grid-template-rows: 150px 130px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: -1px 2px 8px 3px var(--noche);
  background: var(--miel);
  position: relative;
  view-timeline-name: --cards;
  view-timeline-axis: block;
  animation-timeline: --cards;
  animation-name: show-cards;
  animation-range: entry 1% cover 25%;
  animation-fill-mode: both;
}

@keyframes show-cards {
  from {
    opacity: 0.25;
    scale: 90%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.card_content img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card_content h3 {
  font-family: "Major Mono Display", monospace;
  color: var(--unicorn);
  padding-top: 0.5rem;
}

.card_content p {
  font-size: 1rem;
  padding: 0 10px;
  font-weight: 600;
}

.card_content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0 0 10px 10px;
}

.card__btn {
  border-radius: 30px;
  box-shadow: 0px 1px 3px 1px var(--noche);
  color: var(--unicorn);
  background-color: var(--grama);
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
  width: 70px;
  position: absolute;
  bottom: -0.8rem;
  left: calc(130px - 35px);
  transition: 250ms;
}

.card__btn:active {
  background-color: var(--noche);
}

.btn-inscription {
  width: 150px;
  padding: 0.5rem;
  font-size: 0.8rem;
}

#community {
  background-image: url(./imgs/comunidad_bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

#community::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f3f3ffe8;
  border-top: dashed 5px var(--grama);
}

.community__title {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.community__title p {
  font-size: 1rem;
}

.community__content {
  max-width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  position: relative;
}

.community__content-imgs {
  width: 300px;
  height: 200px;
  background-image: url(./imgs/community_1.jpg);
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 8px var(--noche);
  animation: change-bg 30s infinite;
  -webkit-animation: change-bg 30s infinite;
}

@keyframes change-bg {
  25% {
    background-image: url(./imgs/nos.jpg);
    background-size: cover;
  }

  50% {
    background-image: url(./imgs/clases_musica.jpg);
    background-size: cover;
  }

  75% {
    background-image: url(./imgs/animation2.jpg);
    background-size: cover;
  }

  100% {
    background-image: url(./imgs/community_1.jpg);
    background-size: cover;
  }
}

.community__content-filo {
  color: var(--unicorn);
  background: #003d5be0;
  font-size: 1rem;
  width: 100%;
  height: 200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  box-shadow: 2px 0 5px var(--noche);
}

.community__content-filo h3 {
  font-size: 1.5rem;
}

#contact {
  width: 100%;
  padding: 1rem 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(to bottom, var(--grama), var(--noche));
}

.contact__title {
  margin: auto;
  color: var(--unicorn);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact__title p {
  font-size: 1rem;
  text-align: center;
}

#contact h3 {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  color: var(--grama);
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
  gap: 1.2rem;
}

.contact-us {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--unicorn);
  border-radius: 15px;
  view-timeline-name: --contact;
  view-timeline-axis: block;
  animation-timeline: --contact;
  animation-name: show-contact;
  animation-range: entry 2% cover 30%;
  animation-fill-mode: both;
}

@keyframes show-contact {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 1rem;
}

.contact-us__form div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#name,
#age,
#phone,
#email {
  height: 1.5rem;
  padding: 0.3rem;
}

#grupal,
#personal {
  display: inline;
}

#checkbox {
  display: grid;
  grid-template-columns: 40px 200px;
  align-items: center;
  row-gap: 0.5rem;
}

#checkbox input {
  height: 1rem;
}

.textarea textarea {
  resize: none;
}

.contact-us__form span {
  color: var(--arcilla);
  font-size: 1.1rem;
}

.contact-us button {
  margin: auto;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, var(--noche), var(--grama));
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--unicorn);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--noche);
}

.contact-us button:hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--grama), var(--noche));
}

.social-location {
  justify-items: flex-start;
  gap: 1.5rem;
}

.contact-us-social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-us-social p {
  font-size: 1.2rem;
}

.contact__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact__social-icons i {
  font-size: 2rem;
}

.contact__social-icons i:active {
  color: var(--grama);
}

.contact__us-where {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact__us-where p {
  font-size: 1rem;
}

.contact__us-where p i {
  margin-right: 0.5rem;
  color: var(--arcilla);
}

.contact__us-where iframe {
  height: 150px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--noche);
}

footer {
  width: 100%;
  height: 80px;
  background: var(--noche);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 -1px 5px var(--grama);
  color: #bbbbbd;
  padding: 0 1rem;
}

.foot-copy {
  font-size: 0.7rem;
  color: #828283;
}

.foot-social {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.foot-contact {
  display: none;
}

.foot-contact i {
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.foot-social i:active {
  color: var(--unicorn);
}
